.user-list{
    width: 85vw;
    margin:1.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.2rem;
}
.add-icon{
    position: relative;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border:1px solid grey;
    cursor:pointer;
    transform:translate(0);
    transition:transform 0.25s ease-out;
    
}
.add-icon:hover{
    transform:scale(1.02);
}