.user-data {
    background-color: darkgrey;
    margin: 12px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btn {
    margin-bottom: 20px;
  }
  