.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color:white;
    padding: 1.2rem 1.5rem;
    background-color: rgb(24, 49, 161);
}

nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

}
nav .nav-sign{
    text-align: center;
    padding:12px 20px !important;
}
nav .nav-log{
    text-align: center !important;
    padding: 12px 28px !important;
}
nav a:hover{
    opacity:0.4;
}
nav a , a.active{
    text-decoration:none;
    font-weight: bold;
    color:white;
    display:block;
    
    padding:8px;
}
nav a.active{
    border: 1px solid whitesmoke;
}

.linked{
    text-decoration: none;
}

.user-name{
    margin-left:40px;
    padding:20px;
}
.logged-out{
    display:flex;
    justify-content: flex-end;
}