.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color:white;
    padding: 1.2rem 1.5rem;
    background-color: rgb(24, 49, 161);
}
.banner{
    margin:auto;

}
nav {
    display:flex;
}
nav a , a.active{
    text-decoration:none;
    font-weight: bold;
    color:white;
    display:block;
    border: 1px solid whitesmoke;
    padding:8px;
}